<p>
    <strong>💰BONUS CHALLENGE</strong>💰: A developer working on the backend mentioned that one of the enrollees doesn't
    appear to be working. Getting or modifying this enrollee was causing an internal server error. Sadly, they couldn't
    remember which enrollee had this issue. Can you fix this?
</p>

<h3>
    <p>Resolution:</p>

    <p>
        Enrollee <strong>Rand Miller (89a0cd0525fb4b6ea8f8fc2187f690d0)</strong> has a invalid UUID.
    </p>

    <p>
        It's possible to correct it's row by correcting the UUID from <strong>89a0cd0525fb4b6ea8f8fc2187f690d0</strong> to <strong>89a0cd05-25fb-4b6e-a8f8-fc2187f690d0</strong>.
    </p>

</h3>