<div class="container">

    <h3>Edit Enrollee</h3>

    <form [formGroup]="enrolleeForm" (submit)="submitForm()">

        <mat-form-field appearance="fill">
            <mat-label>Id</mat-label>
            <input matInput formControlName="id" readonly />
        </mat-form-field>
        
        <br />

        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" required>
    
            <mat-error *ngIf="enrolleeForm.controls.name.invalid">
                <span *ngIf="enrolleeForm.controls.name.errors.required">This field is mandatory.</span>
            </mat-error>

        </mat-form-field>

        <br />

        <mat-form-field appearance="fill">
            <mat-label>Active</mat-label>
    
            <select matNativeControl formControlName="active" required>
                <option 
                    *ngFor="let item of options"
                    [value]="item.id"
                    [selected]="enrolleeForm.value.active === item.id">
                    {{ item.label }}
                </option>
            </select>
    
            <mat-error *ngIf="enrolleeForm.controls.active.invalid">
                <span *ngIf="enrolleeForm.controls.active.errors.required">This field is mandatory.</span>
            </mat-error>
    
        </mat-form-field>
        
        <br />
        
        <mat-form-field appearance="fill">
            <mat-label>Date Of Birth</mat-label>
            <input matInput formControlName="dateOfBirth" readonly />
        </mat-form-field>

        <br />

        <button type="submit" mat-flat-button color="primary">Save</button> &nbsp;
        <a mat-flat-button color="warn" [routerLink]="['/enrollee']">Cancel</a>
    </form>

</div>